.panel-login{
  position: absolute;   /* Para poder moverla libremente */
  top: 20px;            /* Distancia desde arriba */
  left: 5px;           /* Distancia desde la izquierda */
}

.MiniLogo{
  width: 300px;         /* Ajusta el tamaño según necesites */
  height: auto;
}

.login-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url("/public/fondologin.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative; /* Para mantener el panel en su lugar */
}

.login-card {
  background: #f4f4f4;
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  animation: fadeIn 0.8s ease;

  position: absolute;
  top: 50%;   /* centro vertical */
  left: 50%;  /* centro horizontal */
  transform: translate(-50%, -50%); /* ajusta al verdadero centro */
}

.login-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  color: #01244bfd;
  margin-bottom: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.login-form input:focus {
  border-color: #ff5733;
  outline: none;
  box-shadow: 0 0 8px #ff5733;
}

.btn-login {
  margin-top: 15px;
  background-color: #ff5733;
  color: white;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-login:hover {
  transform: scale(1.05);
  background-color: #e64e2c;
}

.login-footer {
  margin-top: 15px;
  font-size: 14px;
}

.login-link {
  color: #033c79;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.login-link:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
