@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
  font-family: 'MedievalSharp', cursive;
  box-sizing: border-box;
}

.signup-page {
  background: url('/public/images/fondo2.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel-login {
  position: absolute;
  top: 20px;
  left: 20px;
}

.MiniLogo {
  width: 200px;
}

.signup-card {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  color: #fff;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.signup-title {
  font-size: 2.5rem;
  margin-bottom: 25px;
  color: #fff;
  letter-spacing: 2px;
  animation: fadeInUp 1s ease forwards, floatingGlow 4s ease-in-out infinite;
  opacity: 0; /* inicia invisible para el fadeIn */
}


.signup-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.signup-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.btn-signup {
  width: 100%;
  padding: 12px;
  background-color: #ffcc00;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}

.btn-signup:hover {
  background-color: #ffd633;
  transform: scale(1.05);
}

.signup-footer {
  margin-top: 20px;
}

.signup-link {
  color: #c1992bcb;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
@keyframes floatingGlow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  }
  25% {
    transform: translateY(-6px);
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
  }
  50% {
    transform: translateY(0);
    text-shadow: 0 0 16px rgba(193, 153, 43, 0.8);
  }
  75% {
    transform: translateY(6px);
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
  }
  100% {
    transform: translateY(0);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  }
}
